<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error>Username is required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error>Email is required</mat-error>
      <mat-error>Invalid email</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
      <mat-error>Mobile number is required</mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  